@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: black;
  line-height: 1.6;
  margin: 15px;
  font-size: 17px;
}

.clr{
  clear: both;
}

ul{
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.logo img {
   height: 75px;
   width: 75px;
   background-color: orange;
}

.logo{
  background-color: orange;
}

.nav-bar{
  background-color: orange;
  color: white;
}

.nav-bar ul{
  list-style: none;
}

.nav-bar li{
  display: inline;
}

.nav-bar a{
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 14px;
}

.nav-bar a:hover{
  color: white;
}

.nav-bar a.active{
  color: white;
}

.showcase{
  float: left;
  width: 25%;
}

.showcase img{
  height: 205px;
  width: 100%;
}

.home-page{
  margin: 15px;
  box-sizing: border-box;
}


.home-page q{
  color: coral;
}

.welcome{
  float: left;
  width: 48%;
}

.welcome strong{
  color: coral;
}

.welcome a{
  color: coral;
  text-decoration: none;
}

.welcome h1{
  text-align: center;
}

.what{
  text-align: center;
}

.what h1{
  color: coral;
}

.floating{
  float: left;
  width: 50%;
}

.floating h1{
  color: coral;
}

.footer{
  text-align: center;
  background-color: black;
  color: white;
  padding:30px;
}

